<html>
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'coreapp/style.css' %}"
    />
    <title>PBL Analytics: Área do estudante</title>
  </head>

  <body>

    <div class="main-div">
    <header>{% include 'home/top_estudante.html' %}</header>
    <div class="meta-div">
      <h1>Minhas disciplinas</h1>
    </div>
      {% if turmas_do_estudante %}


      <div id="content_data">
            <p id="bra">
            Copie as tags das disciplinas e cole no campo "descrição" dos arquivos
            do Google Drive que devem ser acompanhados.
            </p>
        <table class="integ-table">
          <tbody>
            <tr class="object-tr">
              <th>Disciplina</th>
              <th>Semestre</th>
              <th>tag</th>
            </tr>
            {% for turma in turmas_do_estudante %}
            <tr class="object-tr">
              <td>{{ turma.disciplina.name }}</td>
              <td>{{ turma.ano }}.{{ turma.semestre }}</td>
              <td>{{ turma.tag_turma }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      {% else %}
      <p>Você não está matriculado em nenhuma turma.</p>
      {% endif %}
    </div>
    <script>
      var status = "{{ g_drive_integ_status }}";
      var g_drive_integ_link = "{{ g_drive_integ_link | safe }}";
    </script>
    <script src="{% static 'coreapp/coreapp.js' %}"></script>
  </body>
</html>
