<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'coreapp/style.css' %}"
    />
    <title>PBL Analytics: Área do professor</title>
  </head>

  {% block content %}
  <body>
    <div class="main-div">
      <h1>Área do professor</h1>
      <h3><a id="ah3" href="https://analytics.pbl.tec.br/home/professor/turmas">Minhas turmas</a> / {{nome_disciplina}} {{semestre}} / Equipes </h3>
      {% if object_list %}
      <p>Clique nas equipes para visualizar dados de sua colaboração.</p>
      <table class="integ-table">
        <tbody>
          <tr class="objects-tr">
            <th>Nome da equipe</th>
            <th>Tag</th>
            <th>Índice de colaboração</th>
          </tr>
          {% for equipe in object_list %}
          <tr id="row-{{ forloop.counter }}" class="objects-tr">
            <td>{{ equipe.name }}</td>
            <td>{{ equipe.tag_equipe }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Você ainda não tem nenhuma turma.</p>
      {% endif %}
    </div>
    <script>
      var object_count = "{{ object_count }}";
    </script>
    <script src="{% static 'coreapp/turmas.js' %}"></script>
  </body>
  {% endblock %}
</html>
