<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'coreapp/style.css' %}"
    />
    <title>PBL Analytics: Área do professor</title>
  </head>

  {% block content %}
  <body>
    <div class="main-div"> 

    <header>{% include 'home/top_professor.html' %}</header>

    <div class="meta-div">
      <h2>Equipes</h2>
      <h5><a id="path" href="https://analytics.pbl.tec.br/home/professor/turmas">Minhas turmas</a> / {{nome_disciplina}} {{semestre}}</h5>
    </div>
    <div id="content_data">
      {% if object_list %}
      <p id="bra">
        Clique nas equipes para visualizar dados de sua colaboração.
      </p>
      <table class="integ-table">
        <tbody>
          <tr class="objects-tr">
            <th>Nome da equipe</th>
            <th>Tag</th>
            <th>Índice de colaboração</th>
          </tr>
          {% for equipe in object_list %}
          <tr id="row-{{ forloop.counter }}" class="objects-tr">
            <td>{{ equipe.name }}</td>
            <td>{{ equipe.tag_equipe }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Você ainda não tem nenhuma turma.</p>
      {% endif %}
    </div>
    <script>
      var object_count = "{{ object_count }}";
    </script>
    <script src="{% static 'coreapp/equipes.js' %}"></script>
  </body>
  </div>
  {% endblock %}
</html>
