<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'coreapp/style.css' %}">
  <title>PBL Analytics: Integrações</title>
</head>

<body>
  <div class="main-div">

    <h1>Minhas integrações</h1>

    <p>Olá, <b>{{ current_user_first_name }}</b>! </p>
    <p>Caso a ferramenta não esteja integrada, clique para integrar.</p>

    <table class="integ-table">

      <tbody>
        <tr id="row-1" class="integ-tr">
          <td>Google Drive</td>
          {% if g_drive_integ_status == "Integrado" %}
          <td class="integrado">{{ g_drive_integ_status }}</td>
          {% else %}
          <td class="not_integrado">{{ g_drive_integ_status }}</td>
          {% endif %}
        </tr>

        {% comment %} <tr id="row-2" class="integ-tr">
          <td>Discord</td>
          <td class="not_integrado">Indisponível</td>
        </tr> {% endcomment %}
      </tbody>

    </table>
    <p><i> Ao integrar o Google Drive, caso deseje utilizar uma conta do google com domínio diferente de @gmail.com <br>
        (como as contas @cesar.school), selecione <b>"Usar outra conta"</b> e siga com o processo de autorização.</i>
    </p>
    {% comment %} {% include 'home/include_turma.html' %} {% endcomment %}
  </div>
  <script>
    var status = "{{ g_drive_integ_status }}";
  </script>
  <script src="{% static 'coreapp/coreapp.js' %}">
  </script>
</body>

</html>