<!-- Hotjar Tracking Code for https://analytics.pbl.tec.br/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2360939,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{% block content %}
<h3>Minhas disciplinas</h3>
{% if turmas_do_estudante %}
<p>Copie as tags das disciplinas e cole no campo "descrição" dos arquivos do Google Drive que devem ser acompanhados.</p>
<table class="integ-table">
    <tbody>
        <tr class="object-tr">
            <th> Disciplina </th>
            <th> Semestre </th>
            <th> tag </th>
        </tr>
        {% for turma in turmas_do_estudante %}
        <tr class="object-tr">
            <td>{{ turma.disciplina.name }} </td>
            <td>{{ turma.ano }}.{{ turma.semestre }}</td>
            <td>{{ turma.tag_turma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Você não está matriculado em nenhuma turma.</p>
{% endif %}
{% endblock %}