<!DOCTYPE html>

<html>
  <!-- Hotjar Tracking Code for https://analytics.pbl.tec.br/ -->
  {% comment %}
  <script>
    (function (h, o, t, j, a, r) {
      h.hj =
        h.hj ||
        function () {
          (h.hj.q = h.hj.q || []).push(arguments);
        };
      h._hjSettings = { hjid: 2360939, hjsv: 6 };
      a = o.getElementsByTagName("head")[0];
      r = o.createElement("script");
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
  </script>
  {% endcomment %}

  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'coreapp/style.css' %}"
    />
    <title>PBL Analytics: Área do estudante</title>
  </head>

  <body>
    <div class="main-div">

    <header>{% include 'home/top_estudante.html' %}</header>
    <div class="meta-div">      
      <h1>Integrações</h1>
      <div>
          <div id="content_data">

      <p id="bra">Caso a ferramenta não esteja integrada, clique para integrar.</p>

      <table class="integ-table">
        <tbody>
          <tr id="row-1" class="integ-tr">
            <td>Google Drive</td>
            {% if g_drive_integ_status == "Integrado" %}
            <td class="integrado">{{ g_drive_integ_status }}</td>
            {% else %}
            <td class="not_integrado">{{ g_drive_integ_status }}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <script>
      var status = "{{ g_drive_integ_status }}";
      var g_drive_integ_link = "{{ g_drive_integ_link | safe }}";
    </script>
    <script src="{% static 'coreapp/coreapp.js' %}"></script>
  </body>
</html>
