{% block content %} {% load static %}
<div class="top-div">
  <img id="logo" src="{% static 'coreapp/img/pbllogo_croped.png' %}" />
  <div id="top-buttons">
    <button class="link-button" type="button" onclick="location.href='https://analytics.pbl.tec.br/professor/turmas/';"><b>Minhas turmas</b></button>
    {% comment %} <button class="link-button" type="button" onclick="location.href='https://analytics.pbl.tec.br/estudante/integra';"><b>Integrações</b></button> {% endcomment %}
    <button class="solid-button" type="button" onclick="location.href='https://analytics.pbl.tec.br/accounts/logout';"><b>Sair</b></button>
  </div>
</div>
{% endblock %}
