<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'coreapp/style.css' %}"
    />
    <title>PBL Analytics: Área do professor</title>
  </head>

  {% block content %}
  <body>
    <header>{% include 'home/top_professor.html' %}</header>
    <div class="meta-div">
      {% comment %}
      <h1>Área do professor</h1>
      {% endcomment %}
      <h2>Minhas turmas</h2>
      <h5>CESAR School</h5>
    </div>
    <div id="content_data">
      <p>Clique nas turmas para ver as equipes.</p>

      {% if object_list %}
      <table class="integ-table">
        <tbody>
          <tr class="objects-tr">
            <th>Nome da disciplina</th>
            <th>Semestre</th>
            <th>Tag</th>
            <th>Índice de colaboração</th>
          </tr>
          {% for turma in object_list %}
          <tr id="row-{{ forloop.counter }}" class="objects-tr">
            <td>{{ turma.disciplina.name }}</td>
            <td>{{ turma.ano }}.{{ turma.semestre }}</td>
            <td>{{ turma.tag_turma }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Você ainda não tem nenhuma turma.</p>
      {% endif %}
    </div>
    <script>
      var object_count = "{{ object_count }}";
    </script>
    <script src="{% static 'coreapp/turmas.js' %}"></script>
  </body>
  {% endblock %}
</html>
