{% extends "adm_nav.html" %} {% block content %}
<div class="row">
  <div class="col-sm-12">
    <p>
      Tem certeza que deseja excluir a equipe <b>{{ object.name }}</b> do banco de
      dados?
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 d-inline-flex">
    <form method="post">
      {% csrf_token %}

      <input
        type="submit"
        class="btn btn-danger btn-md center-block confirmation-btns"
        value="Sim, excluir!"
      />
    </form>

    <button class="btn btn-primary btn-md center-block confirmation-btns" onclick="goBack()">
      Cancelar
    </button>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
</div>
{% endblock %}
