{% extends "adm_nav.html" %} 

{% block content %}

<div class="details">

    <h3>Editar pessoa</h3>

     <button
        class="btn btn-secondary btn-md center-block confirmation-btns"
        id="bto-cancelar"
        onclick="goBack()"
        >
        Voltar
    </button>

    <form method="post">

        {% csrf_token %}
        
        <button type="submit" id="bto-enviar" class="btn btn-primary">Salvar</button>

        {{ form.first_name.label }}:
        {{ form.first_name }}

        {{ form.last_name.label }}:
        {{ form.last_name }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.username.label }}:
        {{ form.username }}

        {{ form.password.label }}:
        {{ form.password }}

        {{ form.groups.label }}
        {{ form.groups }}

        {{ form.is_staff.label }}
        {{ form.is_staff }}

    </form>
        
</div>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}
