{% extends "base.html" %} {% block sidenav %}
<div class="col-2" id="sidenav">
  <div class="list-group">
    <a href="https://analytics.pbl.tec.br/adm/instituicoes" class="list-group-item list-group-item-action" aria-current="true"> Instituicoes </a>
    <a href="https://analytics.pbl.tec.br/adm/cursos" class="list-group-item list-group-item-action">Cursos</a>
    <a href="https://analytics.pbl.tec.br/adm/disciplinas" class="list-group-item list-group-item-action">Disciplinas</a>
    <a href="https://analytics.pbl.tec.br/adm/turmas" class="list-group-item list-group-item-action">Turmas</a>
    <a href="https://analytics.pbl.tec.br/adm/equipes" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Equipes</a>
    <a href="https://analytics.pbl.tec.br/adm/pessoas" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Pessoas</a>
  </div>
</div>
{% endblock %} {% block navbar-links %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a
      class="nav-link small"
      href="#"
      >Analytics</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link small" href="https://analytics.pbl.tec.br/adm/pessoas"
      >Administração</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link small"
      href="https://analytics.pbl.tec.br/accounts/logout"
      >Sair</a
    >
  </li>
</ul>
{% endblock %} {% block content %}{% endblock %}
