{% extends "base.html" %} {% block sidenav %}
<div class="col-2" id="sidenav">

  <div class="list-group">
    <a href="https://analytics.pbl.tec.br/estudante/disciplinas" class="list-group-item list-group-item-action" aria-current="true">Minhas disciplinas</a>
    <a href="https://analytics.pbl.tec.br/estudante/integra" class="list-group-item list-group-item-action" aria-current="true"> Minhas integrações </a>
  </div>
</div>
{% endblock %} {% block navbar-links %}
<ul class="navbar-nav ml-auto">
  {% comment %} <li class="nav-item">
    <a
      class="nav-link small"
      href="https://analytics.pbl.tec.br/analytics/turmas/I0Q4A20211/equipes/F4UL/"
      >Analytics</a
    >
  </li> {% endcomment %}
  <li class="nav-item">
    <a class="nav-link small" href="https://analytics.pbl.tec.br/estudante/disciplinas"
      >Configuração</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link small"
      href="https://analytics.pbl.tec.br/accounts/logout"
      >Sair</a
    >
  </li>
</ul>
{% endblock %} {% block content %}{% endblock %}
