<!DOCTYPE html>

{% extends "analytics_nav.html" %} 

{% load static %}

{% block content %}
{% comment %} 
<div class="details">

  <div class="main-div">  {% endcomment %}
    
    <div class="meta-div">
      <h3>Equipe {{nome_equipe}}</h3>
    </div>
    
    <div id="content_data">
      <iframe class="dash_iframe" src={{ filter_url }}></iframe>
    </div>
    
    <script>
      var object_count = "{{ object_count }}";
    </script>
    
    <script src="{% static 'coreapp/equipes.js' %}">
    </script>
{% comment %}     
  </div>

</div> {% endcomment %}

{% endblock %}