<!DOCTYPE html>

<html>
  <head>
    {% load static %}
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'coreapp/style.css' %}"
      />
    <title>PBL Analytics: Área do professor</title>
  </head>

  {% block content %}
  <body>
  <div class="main-div"> 
     <header>{% include 'home/top_professor.html' %}</header>
    <div class="meta-div">
      {% comment %} <h5 class="hat">Equipe</h5> {% endcomment %}
      <h5><a id="path" href="https://analytics.pbl.tec.br/professor/turmas">Minhas turmas</a> / <a id="path" href="https://analytics.pbl.tec.br/professor/turmas/{{ tag_turma }}/equipes/">Equipes de {{nome_disciplina}} {{semestre}}</a> / Dashboard</h5>
        <h1>Equipe {{nome_equipe}}</h1>
      </div>
      <div id="loading_data">
      {% comment %} {% if object_list %} {% endcomment %}
        {% comment %} <iframe height="100%" width="100%" frameBorder="0" src={{ filter_url }}></iframe> {% endcomment %}
        <div id="loadit">
        <h3 id="loader_text">Atualizando dados</h3>
         <img id="loader" src="{% static 'coreapp/img/loader2.gif' %}" />
         </div>
      {% comment %} {% else %} {% endcomment %}
        {% comment %} <p>Você ainda não tem nenhuma turma.</p> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
    </div>
    <script>
      var user_list = {{ user_list }};
      var dash_view_url = "{{ dash_view_url }}";
    </script>
    <script src="{% static 'coreapp/update_data.js' %}"></script>
    </div>
  </body>
  {% endblock %}
</html>